<mat-toolbar color="primary">
    <button mat-button routerLink="/">App</button>
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/configs">Configs</button>
    <button mat-button routerLink="/customers">Customers</button>
    <button mat-button routerLink="/lineitems">Line Items</button>
    <button mat-button routerLink="/orders">Orders</button>
    <button mat-button routerLink="/specs">Specs</button>
    <button mat-button routerLink="/styles">Styles</button>
    <button mat-button routerLink="/new-product">Create Product</button>
    <button mat-button routerLink="/new-config">Create Config</button>
    <!-- 

        <button mat-button routerLink="/new-customer">Create Customer</button>
        <button mat-button routerLink="/new-lineitem">Create Line Item</button>
        <button mat-button routerLink="new-order">Create Order</button>
        <button mat-button routerLink="/new-spec">Create Spec</button>
        <button mat-button routerLink="/new-style">Create Style</button>
     -->
</mat-toolbar>
