<mat-card>
    <span>Create new customer</span>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="new-customer-field" >
            <input matInput placeholder="Customer ID" formControlName="customerID">
        </mat-form-field>
        <mat-form-field class="new-customer-field" >
            <input matInput placeholder="Customer Name" formControlName="customerName">
        </mat-form-field>
        <mat-form-field class="new-customer-field" >
            <input matInput placeholder="Address ID" formControlName="addressID">
        </mat-form-field>

        <button mat-raised-button [disabled]="!customerForm.valid">Create new</button>
    </form>
</mat-card>


LineItemID: new FormControl(''),
productID: new FormControl(''),
description: new FormControl(''),
price: new FormControl(''),
orderID: new FormControl(''),
quantity: new FormControl(''),
order_Id: new FormControl(''),
product_Id: new FormControl(''),